[submodule "CppProjs/mma"]
	path = CppProjs/mma
	url = https://github.com/unjerry/mikuMikuAnimation.git
[submodule "hardWareRelated/aiOrnithopter"]
	path = hardWareRelated/aiOrnithopter
	url = https://github.com/unjerry/aiOrnithopter.git
[submodule "aiTest/bnbCAC"]
	path = aiTest/bnbCAC
	url = https://github.com/unjerry/bnbCAC.git
[submodule "differenceEngine/InfermonSAGA"]
	path = differenceEngine/InfermonSAGA
	url = https://github.com/unjerry/InfermonSAGA.git
